<a href="https://colab.research.google.com/github/2403A51L33/B52_PfDS/blob/main/A5-(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
students = pd.DataFrame({
    "student_id": [1, 2, 3, 4, 5],
    "name": ["Puppy", "Hari", "Vyshu", "Tpr", "Mani"],
    "class": ["A", "B", "A", "B", "A"]
})
scores = pd.DataFrame({
    "student_id": [1, 2, 3, 5, 6],
    "math": [85, 90, 78, 92, 88],
    "science": [88, 84, 89, 95, 76]
})
print("Students Dataset:")
print(students, "\n")

print("Scores Dataset:")
print(scores, "\n")
inner_merge = pd.merge(students, scores, on="student_id", how="inner")
left_merge = pd.merge(students, scores, on="student_id", how="left")
right_merge = pd.merge(students, scores, on="student_id", how="right")
print("Inner Join Result:")
print(inner_merge, "\n")
print("Left Join Result:")
print(left_merge, "\n")
print("Right Join Result:")
print(right_merge, "\n")
print("Aggregate Statistics (Overall):")
print(inner_merge[["math", "science"]].agg(["mean", "max", "min", "count"]), "\n")
group_stats = inner_merge.groupby("class")[["math", "science"]].mean()
print("Group-wise Mean Scores (by Class):")
print(group_stats)

Students Dataset:
   student_id   name class
0           1  Puppy     A
1           2   Hari     B
2           3  Vyshu     A
3           4    Tpr     B
4           5   Mani     A

Scores Dataset:
   student_id  math  science
0           1    85       88
1           2    90       84
2           3    78       89
3           5    92       95
4           6    88       76

Inner Join Result:
   student_id   name class  math  science
0           1  Puppy     A    85       88
1           2   Hari     B    90       84
2           3  Vyshu     A    78       89
3           5   Mani     A    92       95

Left Join Result:
   student_id   name class  math  science
0           1  Puppy     A  85.0     88.0
1           2   Hari     B  90.0     84.0
2           3  Vyshu     A  78.0     89.0
3           4    Tpr     B   NaN      NaN
4           5   Mani     A  92.0     95.0

Right Join Result:
   student_id   name class  math  science
0           1  Puppy     A    85       88
1           2   Hari     B    90       84
2           3  Vyshu     A    78       89
3           5   Mani     A    92       95
4           6    NaN   NaN    88       76

Aggregate Statistics (Overall):
        math  science
mean   86.25     89.0
max    92.00     95.0
min    78.00     84.0
count   4.00      4.0

Group-wise Mean Scores (by Class):
       math    science
class
A      85.0  90.666667
B      90.0  84.000000