<a href="https://colab.research.google.com/github/2403A51L33/B52_PfDS/blob/main/L4%20-A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv("student data.zip")

print("Original Data:")
print(df)

df_filled = df.fillna(df.mean(numeric_only=True))

print("\nData after filling missing marks with column averages:")
print(df_filled)

high_achievers = df_filled[(df_filled["Maths"] > 75) &
                           (df_filled["Science"] > 75) &
                           (df_filled["English"] > 75)]

print("\nHigh Achievers (scored > 75 in all subjects):")
print(high_achievers)

Original Data:
      id      Name  Gender  Age Section  Science  English  History  Maths
0      1   Bronnie  Female   13       C       21       81       62     49
1      2    Lemmie    Male   15       B       29       41       17     40
2      3     Danya  Female   14       C       12       87       16     96
3      4     Denna  Female   14       B       15       53       82     33
4      5   Jocelin    Male   14       A       43        6        3     21
..   ...       ...     ...  ...     ...      ...      ...      ...    ...
245  246    Nickie    Male   13       C       28       15       25     10
246  247       Rog  Female   13       B        1        4       68     65
247  248      Kaia    Male   15       B       93       48       82     44
248  249      Anni  Female   14       B       35       73       66     59
249  250  Fernande    Male   15       B       50        8       80     78

[250 rows x 9 columns]

Data after filling missing marks with column averages:
      id      Name  Gender  Age Section  Science  English  History  Maths
0      1   Bronnie  Female   13       C       21       81       62     49
1      2    Lemmie    Male   15       B       29       41       17     40
2      3     Danya  Female   14       C       12       87       16     96
3      4     Denna  Female   14       B       15       53       82     33
4      5   Jocelin    Male   14       A       43        6        3     21
..   ...       ...     ...  ...     ...      ...      ...      ...    ...
245  246    Nickie    Male   13       C       28       15       25     10
246  247       Rog  Female   13       B        1        4       68     65
247  248      Kaia    Male   15       B       93       48       82     44
248  249      Anni  Female   14       B       35       73       66     59
249  250  Fernande    Male   15       B       50        8       80     78

[250 rows x 9 columns]

High Achievers (scored > 75 in all subjects):
      id      Name  Gender  Age Section  Science  English  History  Maths
10    11      Dunn    Male   15       C      100       93       87     81
68    69       Nil  Female   15       A       84       97       70     96
91    92     Daffi  Female   15       A       79       82       99     81
120  121  Patrizia    Male   13       A       79       88       96     93
180  181   Davidde    Male   13       C       98      100       23     84