<a href="https://colab.research.google.com/github/2403A51L33/B52_PfDS/blob/main/Lab%204-A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df = pd.read_csv("sample_data/california_housing_train.csv")

print("Original Data:")
print(df.head()) # Print only the head for large datasets

df.fillna(df.mean(numeric_only=True), inplace=True)

print("\nData After Filling Missing Marks:")
print(df.head()) # Print only the head for large datasets

# This part of the code is specific to student scores and will not work with the new dataset.
# You would need to adapt the column names and conditions based on the new data.
# high_achievers = df[(df["Math"] > 75) & (df["Science"] > 75) & (df["English"] > 75)]
#
# print("\nHigh Achievers (scored > 75 in all subjects):")
# print(high_achievers)

Original Data:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0
3    -114.57     33.64                14.0       1501.0           337.0
4    -114.57     33.57                20.0       1454.0           326.0

   population  households  median_income  median_house_value
0      1015.0       472.0         1.4936             66900.0
1      1129.0       463.0         1.8200             80100.0
2       333.0       117.0         1.6509             85700.0
3       515.0       226.0         3.1917             73400.0
4       624.0       262.0         1.9250             65500.0

Data After Filling Missing Marks:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0
3    -114.57     33.64                14.0       1501.0           337.0
4    -114.57     33.57                20.0       1454.0           326.0

   population  households  median_income  median_house_value
0      1015.0       472.0         1.4936             66900.0
1      1129.0       463.0         1.8200             80100.0
2       333.0       117.0         1.6509             85700.0
3       515.0       226.0         3.1917             73400.0
4       624.0       262.0         1.9250             65500.0