<a href="https://colab.research.google.com/github/2403A51L33/B52_PfDS/blob/main/Lab-06(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import seaborn as sns
df = sns.load_dataset('titanic')

print("Missing values before cleaning:\n", df.isnull().sum())

df['age'] = df['age'].fillna(df['age'].mean())

mode_embarked = df['embarked'].mode()[0]
df['embarked'] = df['embarked'].fillna(mode_embarked)

df = df.drop(columns=['deck'])

print("\nMissing values after cleaning:\n", df.isnull().sum())

Missing values before cleaning:
 survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

Missing values after cleaning:
 survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    2
alive          0
alone          0
dtype: int64